<footer>
  <nav>
    <a href="https://github.com/wangelyohannes">GitHub</a> |
    <a href="https://webpages.charlotte.edu/wyohanne/">CLT Web</a> |
    <a href="https://wangelyohannes.github.io/">GitHub.io</a> |
    <a href="https://www.freecodecamp.org/wangely">freeCodeCamp</a> |
    <a href="https://www.linkedin.com/in/wangel-yohannes/">LinkedIn</a> |
    <a href="yohannesdigital.com/index.html"
      >Page built by Yohannes Digital Studios</a
    >
    |
    <a href="https://www.freecodecamp.org/"
      >Designed by Wangel Certified in Responsive Web Design</a
    >
  </nav>
  <p>&copy; 2024 Wangel Yohannes. All rights reserved.</p>
</footer>
